*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    font-family: 'Balsamiq Sans', cursive;
}

video{
    position:absolute ;
    top: 0% ;
    left: 65%;
    margin-top: -50% ;
    margin-left: -50% ;
    z-index: 1;

}

.wrapper{
    width: 600px;
    height:300px;
    margin: 50px auto;
    border: solid 8px black;
    border-radius: 20px;
/*    background: white ;*/
  
}

div{
    z-index: 2 ;
    position: relative ;
}

.header{
    width: 100%;
    text-align: center ;
    height: 50px ;
/*    background: linear-gradient(#f63,white);*/
    border-radius: 10px 10px 0 0 ;
    font-size: 25px ;
    padding-top: 10px; 
}

span{
    border-bottom: dashed 2px black;
    display: block;
    height: 90% ;
    width: 100% ;
}

.wrap-list{
    height: 85% ;
    width: 100% ;
    border-radius: 0 0 10px 10px;
}

input[type="checkbox"]{
    position: relative;
    top: 14px ;
    right: 12px;
    float: right ;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: rgba(0,0,0,.3) ;
} 

.list{
    list-style: none;
    color: rgbs(0,0,0,);
    
}

.list li{
    width:100% ;
    float: left;
    text:bold ;
}

label{
    padding: 10px;
    float:left;
    width: 95% ;
}